@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

:root {
  --radius: 8px;
}

@layer utilities {
  .flex-between {
    @apply flex items-center justify-between;
  }

  .my-container {
    @apply max-w-[1440px] mx-auto px-4;
  }

  .my-h1 {
    @apply text-3xl font-bold tracking-tight sm:text-4xl text-heading;
  }

  .my-h2 {
    @apply text-[20px] text-heading font-semibold leading-7;
  }

  .my-p-regular {
    @apply text-lg leading-8 text-body;
  }

  .my-p-body {
    @apply text-base leading-7 text-body;
  }

  .my-primary-text-gradient {
    @apply bg-primary-gradient bg-clip-text text-transparent;
  }

  .search-input {
    @apply flex-1 font-medium placeholder:font-medium placeholder:text-body/90 w-full h-auto outline-none bg-offwhite font-inter;
  }

  .rbc-day-bg {
    @apply cursor-pointer;
  }
}
