@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  /* overflow-x: hidden; */
}

:root {
  --radius: 8px;
}

@layer utilities {
  .flex-between {
    @apply flex items-center justify-between;
  }

  .my-container {
    @apply max-w-[1440px] mx-auto px-4;
  }

  .my-h1 {
    @apply text-3xl font-bold tracking-tight sm:text-4xl text-heading;
  }

  .my-h2 {
    @apply text-[20px] text-heading font-semibold leading-7;
  }

  .my-p-regular {
    @apply text-lg leading-8 text-body;
  }

  .my-p-body {
    @apply text-base leading-7 text-body;
  }

  .my-primary-text-gradient {
    @apply bg-primary-gradient bg-clip-text text-transparent;
  }

  .search-input {
    @apply flex-1 font-medium placeholder:font-medium placeholder:text-offwhite w-full h-auto outline-none bg-offwhite font-inter;
  }

  .markdown {
    @apply max-w-full prose   prose-headings:text-gray-700 prose-h1:text-black prose-h2:text-black prose-p:text-black prose-ul:text-gray-500 prose-ol:text-gray-500;
  }

  .markdown-editor {
    @apply prose max-w-full prose-p:m-0 dark:prose-headings:text-white prose-headings:text-black prose-p:text-black prose-ul:text-gray-500 prose-ol:text-gray-500 dark:prose-strong:text-white prose-blockquote:text-black;
  }

  .markdown a {
    color: #1da1f2;
  }

  .markdown a,
  code {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    padding: 2px;
    /* color: #ff7000 !important; */
  }

  .markdown pre {
    display: grid;
    width: 100%;
  }

  .markdown pre code {
    width: 100%;
    display: block;
    overflow-x: auto;

    color: inherit !important;
  }

  [data-lexical-editor="true"] {
    height: 350px !important;
    overflow-y: auto !important;
  }
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .rbc-event-content {
    color: red;
  }
}

.rbc-ellipsis,
.rbc-show-more,
.rbc-row-segment .rbc-event-content,
.rbc-event-label {
  color: white;
  font-size: 12px;
}
